<!DOCTYPE html>
<html>
  <head>
    <title>ContactsClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <a href="/client/contacts/new">Click here to create a new Contact</a><br>
    <a href="/client/contacts">Click here to return to the list of all contacts</a>
  </body>
</html>
